@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comic+Neue:ital,wght@1,300&family=Merriweather:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@600&family=PT+Serif:ital,wght@0,700;1,400&family=Raleway:ital,wght@1,100;1,400&family=Roboto&family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Berkshire Swash', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
